@page
@model AboutModel
@{
    ViewData["Title"] = "About page";
}

<div class="text-center">
    <h1 class="display-4">About this exercise</h1>
    <p>The aim is to learn the basics of how to produce a .Net web application</p>
</div>
