@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="Nazareth_Table">

<tr class="Nazareth_Row">
        <td class="Nazareth_Cell">
            <p>Number</p>
        </td>
        <td class="Nazareth_Cell">
            <p>Balance</p>
        </td>
        <td class="Nazareth_Cell">
            <p>Label</p>
        </td>
        <td class="Nazareth_Cell">
            <p>Owner</p>
        </td>
    </tr>

@foreach (var account in Model.Accounts)
{
    <tr class="Nazareth_Row">
        <td class="Nazareth_Cell">
            <p>@account.Number</p>
        </td>
        <td class="Nazareth_Cell">
            <p>@account.Balance</p>
        </td>
        <td class="Nazareth_Cell">
            <p>@account.Label</p>
        </td>
        <td class="Nazareth_Cell">
            <p>@account.Owner</p>
        </td>
    </tr>
}
</table>

<p>Transfer funds</p>
<form method="post" action="/api/accounts">
    <input type="hidden" name="put" value="false">
    <p>Account to transfer money from
        <input type="text" name="idFrom"></p>
    <p>Account to transfer money to
        <input type="text" name="idTo"></p>
    <p>Amount to transfer
        <input type="text" name="amount"></p>
    <input type="submit">
</form>

<p>Create new account</p>
<form method="post" action="/api/accounts">
    <input type="hidden" name="put" value="true">
    <p>Account number
        <input type="text" name="number"></p>
    <p>Account label
        <input type="text" name="label"></p>
    <p>Account owner
        <input type="text" name="owner"></p>
    <input type="submit">
</form>